In [ ]:
#Data Dive 2

In [ ]:
#Question-

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
##import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from matplotlib import style

import statsmodels
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
def substr(string, start, length):
    chars = list(string)
    sub = ""
    if (len(string) - start) >= length:
        for i in range(length):
            sub = sub + str(chars[start + i])
        return sub
    raise Exception("Length of substring is too long")

In [3]:
df =pd.read_csv('movies.dat', sep = '::', header = None, names = ['movie_id', 'movie_title', 'genre'])

<ipython-input-3-319fc1f7fb1a>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df =pd.read_csv('movies.dat', sep = '::', header = None, names = ['movie_id', 'movie_title', 'genre'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     3883 non-null   int64
 1   movie_title  3883 non-null   object
 2   genre        3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [5]:
df.head(10)

   movie_id                         movie_title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [6]:
adj_df = df.drop('movie_title', axis = 1)
adj_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   genre     3883 non-null   object
dtypes: int64(1), object(1)
memory usage: 60.8+ KB

In [28]:
#titles = df["movie_title"].str.split(pat = '(', n = 1, expand = True)
titles =  df["movie_title"].copy()
year = [None] * len(titles)
for i in range(len(titles)):
    title = titles[i]
    j = 0
    while j < (len(title) - 3):
        if substr(title, j, 4).isdigit() == True:
            if substr(title, j - 1, 1) == "(" and substr(title, j+4, 1) == ")":
                year[i] = substr(title, j, 4).strip()
                titles[i] = titles[i].replace("(" + year[i] + ")", " ").strip()
                break
        j = j + 1

In [29]:

adj_df["movie title"] = titles
adj_df["year"] = year

In [30]:
adj_df.sample(10)

,movie_id,genre,movie title,year
320,324,Comedy,"Sum of Us, The",1994
3520,3589,Horror,"Kill, Baby... Kill! (Operazione Paura)",1966
3178,3247,Comedy|Crime,Sister Act,1992
2314,2383,Comedy,Police Academy 6: City Under Siege,1989
2245,2314,Drama,Beloved,1998
1767,1835,Romance,City of Angels,1998
929,941,Adventure,"Mark of Zorro, The",1940
977,989,Drama,Schlafes Bruder (Brother of Sleep),1995
1002,1015,Adventure|Children's,Homeward Bound: The Incredible Journey,1993
1064,1080,Comedy,Monty Python's Life of Brian,1979

In [31]:
adj_df["year"].value_counts()

1996    345
1995    342
1998    337
1997    315
1999    283
       ...
1928      3
1929      3
1922      2
1920      2
1921      1
Name: year, Length: 81, dtype: int64

In [32]:
test1 = df.loc[df["movie_title"].str.contains("3000")]
test1

     movie_id                                     movie_title          genre
665       671  Mystery Science Theater 3000: The Movie (1996)  Comedy|Sci-Fi